@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

.container {
	width: 1240px;
	margin: 0 auto;
}

.hero-section, main, footer {
	padding: 50px 0;
}

.flex-parent {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1, h2, h3 {
	font-weight: 700;
	font-size: 1.5em;
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.5em;
}

p {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 400;
}

a {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
}

.cta {
	padding: 15px 60px;
	margin-bottom: 0;
	background-color: hsl(322, 100%, 66%);
	color: #fff;
	display: inline-block;
	border-radius: 50px;
	font-size: 15px;
	font-weight: 700;
	transition: 0.5s;
}

.cta:hover {
	opacity: 0.8;
}

.white-cta {
	padding: 12px 60px;
	margin: 0;
	background-color: #fff;
	color: #000;
	box-shadow: 0 5px 12px #DEDEDE;
}

/* HERO HEADER CONFIGURATION */
.hero-section {
	background: url("images/bg-hero-desktop.svg");
	background-color: hsl(193, 100%, 96%);
}

.hero-section header {
	justify-content: space-between;
	margin-bottom: 50px;
}

.content-flex {
	width: 65%;
	padding-right: 50px;
}

/* MAIN CONFIGURATION */
main {
	padding: 150px 0;
}

.card {
	box-shadow: 0 1px 10px #DEDEDE;
	border-radius: 10px;
	padding: 30px;
	padding-left: 100px;
	margin: 50px 0;
}

.card-inverse {
	flex-direction: row-reverse;
}

.card .content-flex {
	padding-right: 100px;
}

.card-inverse .content-flex {
	margin: 0;
	padding: 0;
	padding-left: 100px;
}

.card img {
	width: 50%;
	height: auto;
}

.text-main {
	color: hsl(208, 11%, 55%);
}

/* FOOTER CONFIG */
footer {
	background-color: hsl(192, 100%, 9%);
}

.relative-footer {
	position: relative;
	padding: 30px;
}

.card-get-started {
	background-color: #fff;
	text-align: center;
	display: inline-block;
	box-shadow: 0 -1px 5px #DEDEDE;
	padding: 30px;
	position: absolute;
	top: -200px;
}

.card-get-started .cta {
	box-shadow: 0 5px 12px #DEDEDE;	
}

footer a:hover {
	color: #ccc;
}

.flex-parent-footer {
	justify-content: space-between;
	align-items: flex-start;
}

.flex-footer-content {
	color: #fff;
	width: 50%;
}

.flex-footer-content img {
	margin-right: 20px;
}

.flex-footer-social {
	padding-top: 30px;
}

.flex-footer-social i {
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 20px;
	margin-right: 10px;
}

.attribution p {
	color: #fff;
	text-align: right;
	font-size: 14px;
	margin-right: 50px;
	margin-bottom: 0;
}

/* RESPONSIVE MOBILE DESIGN VIEWPORT 768PX */
@media screen and (max-width: 768px) {
	.container {
		width: 768px;
		max-width: 100%;
	}

	.hero-section, main, footer {
		padding: 50px 15px;
	}

	h1, h2, h3 {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 16px;
	}

	a {
		font-size: 16px;
	}

	img {
		width: 100%;
		margin: 30px 0;
	}

	.cta {
		padding: 12px 40px;
	}

	.white-cta {
		padding: 8px 20px;
	}	

	/* HERO HEADER CONFIGURATION */
	header img {
		width: 25%;
		margin: 0;
	}

	.hero-section {
		background: url("images/bg-hero-desktop.svg");
	}

	.content-flex {
		width: 80%;
		padding-right: 30px;
		align-self: center;
	}

	/* MAIN CONFIGURATION */
	main {
		padding: 50px 15px 100px;
	}

	main .card {
		padding: 30px;
	}

	.card .content-flex {
		padding: 0;
	}

	.card img {
		width: 100%;
	}

	.card-inverse .content-flex {
		padding: 0;
	}

	/* FOOTER CONFIG */
	.card-get-started {
		width: 100%;
	}

	.flex-parent-footer {
		text-align: left;
	}

	.flex-footer-content {
		width: 50%;
	}

	.flex-footer-content img {
		margin: 0;
		margin-right: 20px;
		width: 5%;
	}

	.flex-footer-social {
		padding-top: 30px;
	}

	.attribution p {
		text-align: center;
		margin: 0;
	}
}

/* RESPONSIVE MOBILE DESIGN VIEWPORT 375PX */
@media screen and (max-width: 375px) {
	.container {
		width: 375px;
		max-width: 100%;
	}

	.hero-section, main, footer {
		padding: 50px 15px;
		text-align: center;
	}

	.flex-parent {
		flex-direction: column;
	}

	h1, h2, h3 {
		font-size: 1.5em;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 16px;
	}

	a {
		font-size: 16px;
	}

	img {
		width: 100%;
		margin: 30px 0;
	}

	.cta {
		padding: 12px 40px;
	}

	.white-cta {
		padding: 8px 20px;
	}	

	/* HERO HEADER CONFIGURATION */
	header img {
		width: 25%;
		margin: 0;
	}

	.hero-section {
		background: url("images/bg-hero-mobile.svg");
	}

	.hero-section header {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	.content-flex {
		width: 100%;
		padding-right: 0;
	}

	/* MAIN CONFIGURATION */
	main {
		padding: 50px 15px 100px;
	}

	main .card {
		padding: 30px;
		flex-direction: column-reverse;
	}

	.card-inverse {
		flex-direction: column;
	}

	.card .content-flex {
		padding: 0;
	}

	.card img {
		width: 100%;
	}

	.card-inverse .content-flex {
		margin: 0;
		padding: 0;
	}

	/* FOOTER CONFIG */
	.card-get-started {
		width: 100%;
	}

	.flex-parent-footer {
		text-align: left;
	}

	.flex-footer-content {
		width: 100%;
		display: inline;
		align-content: center;
	}

	.flex-footer-content img {
		margin: 0;
		margin-right: 20px;
		width: 5%;
	}

	.flex-footer-social {
		padding-top: 30px;
		align-self: center;
	}

	.attribution {
		margin-top: 50px;
	}

	.attribution p {
		text-align: center;
		margin: 0;
	}
}